body {
  background-color: #85D8CE;
    background: -webkit-linear-gradient(90deg, #85D8CE 10%, #085078 50%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #85D8CE 10%, #085078 50%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #85D8CE 10%, #085078 50%); /* IE10 */
    background:      -o-linear-gradient(90deg, #85D8CE 10%, #085078 50%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #85D8CE 10%, #085078 50%); /* W3C */   
  color:#eee;
}

#app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  z-index:1;
}

.loading-spinner {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 7px;
  text-align: center;
}

.loading-spinner.white i {
background: #fff;
}
.loading-spinner i:nth-child(1) {
  float: left;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}
.loading-spinner i:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading-spinner i:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}    
    
.loading-spinner i {
  vertical-align: top;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1818cc;
  opacity: 0;
  -webkit-animation: pulse ease-in-out 1s infinite alternate;
  -moz-animation: pulse ease-in-out 1s infinite alternate;
  animation: pulse ease-in-out 1s infinite alternate;
}

@-webkit-keyframes pulse {
    0% { opacity: 0.0}
    10% { opacity: .20}
    20% { opacity: .40 }
    30% { opacity: .60 }
    40% { opacity: .80 } 
    50% { opacity: 1.0}
    60% { opacity: .80}
    70% { opacity: .60}
    80% { opacity: .40}
    90% { opacity: .20}
    100% { opacity: 0.0}
}
